.allhome {
  display: flex;
  flex-direction: column;
}
.logocontainer {
  display: flex;
  flex-direction: column;
}
.logo:hover {
  transform: rotate(360deg);
}
.logo {
  width: 5em;
  height: 5em;
  border-style: inset;
  border-radius: 45px;
  transition: all 0.5s ease-in-out 0s;
}
.h1container {
  display: flex;
  justify-content: center;
}
h1 {
  color: rgba(240, 248, 255, 0.767);
}
.seedcontainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-style: groove;
  border-color: #3f2d1f;
}
.grindercontainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-style: groove;
  border-color: #3f2d1f;
}
.coffeecodecontainer {
  display: flex;
  justify-content: center;
  border-style: groove;
  border-color: #3f2d1f;
}
.imgc {
  height: 40em;
  width: 40em;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
  padding: 50px;
  font-size: x-large;
  color: #b9b9b9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3f2d1f;
}
